beautifulsoup4==4.9.3
cmake==3.21.1.post1
covidcast==0.1.5
Cython==0.29.24
einops==0.3.2
GitPython==3.1.18
h5py==3.1.0
imageio==2.9.0
imutils==0.5.4
ipykernel==5.5.5
ipython==7.16.1
ipython-genutils==0.2.0
jupyter==1.0.0
jupyter-client==6.1.12
jupyter-console==6.4.0
jupyter-core==4.7.1
matplotlib==3.3.4
numpy==1.19.5
pandas==1.1.5
Pillow==8.3.1
progressbar2==3.53.1
protobuf==3.17.3
ptyprocess==0.7.0
pyarrow==5.0.0
pycparser==2.20
pydeck==0.6.2
Pygments==2.10.0
pynndescent==0.5.4
pyparsing==2.4.7
pyproj==3.0.1
pyrsistent==0.18.0
python-dateutil==2.8.2
python-louvain==0.15
python-utils==2.5.6
pytz==2021.1
PyWavelets==1.1.1
pyzmq==22.2.1
qtconsole==5.1.1
QtPy==1.10.0
rdflib==5.0.0
requests==2.26.0
scikit-image==0.17.2
scikit-learn==0.24.2
scikit-network==0.20.0
scipy==1.5.4
seaborn==0.11.2
statsmodels==0.12.2
tensorboardX==2.4
torch==1.8.0+cu101
tqdm==4.62.1
typing-extensions==3.10.0.0
urllib3==1.26.6
xgboost==1.4.2
zipp==3.5.0
